h1 {color: gold;font-weight: bold;background-color: navy;}
img {height: 400px; width: 400px;}
h2 {color: gold; font-weight: bold; background-color: navy;}
p {font-family: Arial, Helvetica, sans-serif;}
li {font-family: Arial, Helvetica, sans-serif;}